adodbapi==2.6.1.3
affine==2.3.0
aiofiles==0.4.0
aiosqlite==0.11.0
alabaster==0.7.12
altair==4.0.0
altair-data-server==0.3.0
altair-transform==0.2.0
altair-widgets==0.2.2
altgraph==0.16.1
aniso8601==8.0.0
ansiwrap==0.8.4
appdirs==1.4.3
asciitree==0.3.3
asteval==0.9.18
astroid==2.3.3
astroML==0.4.1
astropy==4.0
async-generator==1.10
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports-abc==0.5
baresql==0.7.6
bcolz==1.2.1
bcrypt==3.1.7
beautifulsoup4==4.8.1
black==19.10b0
bleach==3.1.0
blinker==1.4
blosc==1.8.1
bloscpack==0.16.0
bokeh==1.4.0
Bottleneck==1.3.1
bqplot==0.12.1
branca==0.3.1
brewer2mpl==1.4.1
Brotli==1.0.7
certifi==2019.11.28
cffi==1.13.2
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
click-default-group==1.2.2
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.2
clrmagic==0.0.1a2
colorama==0.4.3
colorcet==2.0.2
comtypes==1.1.7
cryptography==2.8
cvxopt==1.2.3
cvxpy==1.0.25
cx-Freeze==6.0
cycler==0.10.0
Cython==0.29.14
cytoolz==0.10.1
dask==2.9.0
dask-searchcv==0.2.0
databases==0.2.6
datasette==0.32
datashader==0.9.0
datashape==0.5.2
db.py==0.5.3
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
descartes==1.1.0
dill==0.3.1.1
distributed==2.9.0
docopt==0.6.2
docrepr==0.1.1
docutils==0.15.2
ecos==2.0.7.post1
emcee==3.0.2
entrypoints==0.3
et-xmlfile==1.0.1
fast-histogram==0.7
fasteners==0.15
fastparquet==0.3.2
Fiona==1.8.13
Flask==1.1.1
flask-accepts==0.15.5
flask-restplus==0.13.0
flaskerize==0.12.0
formlayout==2.0.0a0
fs==2.4.11
fsspec==0.6.2
future==0.18.2
fuzzywuzzy==0.17.0
GDAL==3.0.2
geographiclib==1.50
geopandas==0.6.2
geopy==1.20.0
gmpy2==2.0.8
greenlet==0.4.15
guidata==1.7.7.dev1
h11==0.9.0
h2==3.1.1
h5py==2.10.0
HeapDict==1.0.1
holoviews==1.12.7
hpack==3.0.0
html5lib==1.0.1
hupper==1.9.1
husl==4.0.3
hvplot==0.5.2
Hypercorn==0.9.0+dev
hyperframe==5.2.0
hypothesis==4.53.3
idlex==1.18
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
imagesize==1.1.0
imbalanced-learn==0.6.1
intake==0.5.4
ipydatawidgets==4.0.1
ipykernel==5.1.3
ipyleaflet==0.11.6
ipympl==0.4.0
ipyparallel==6.2.4
ipython==7.10.2
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.10.3
joblib==0.14.1
json5==0.8.5
jsonschema==3.2.0
julia==0.5.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyter-server==0.1.1
jupyter-sphinx==0.2.3
jupyterlab==1.2.4
jupyterlab-launcher==0.13.1
jupyterlab-pygments==0.1.0
jupyterlab-server==1.0.6
keyring==20.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.30.0
lmfit==1.0.0
locket==0.2.0
loky==2.6.0
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.3.0
matplotlib==3.2.0rc2
mccabe==0.6.1
mercantile==1.1.2
metakernel==0.24.3
mistune==0.8.4
mizani==0.6.0
mkl-service==2.3.0
mlxtend==0.17.0
monotonic==1.5
more-itertools==8.0.2
moviepy==1.0.1
mpl-scatter-density==0.6
mpld3==0.3
mpldatacursor==0.6.2
mpmath==1.1.0
msgpack==0.6.2
multidict==4.7.2
multipledispatch==0.6.0
multiprocess==0.70.9
munch==2.5.0
mypy==0.761
mypy-extensions==0.4.3
mysql-connector-python==8.0.18
nbconvert==5.6.1
nbconvert-reportlab==0.2
nbformat==4.4.0
netCDF4==1.5.3
networkx==2.4
nltk==3.4.5
notebook==6.0.2
numba==0.46.0
numcodecs==0.6.4
numdifftools==0.9.39
numexpr==2.7.0
numpy==1.17.4+mkl
numpydoc==0.9.1
oct2py==5.0.4
octave-kernel==0.31.0
openpyxl==3.0.3
osqp==0.6.1
packaging==19.2
palettable==3.3.0
pandas==0.25.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
panel==0.7.0
papermill==1.2.1
param==1.9.2
parambokeh==0.2.3
paramiko==2.7.1
paramnb==2.0.4
parso==0.5.2
partd==1.1.0
passlib==1.7.1
pathspec==0.6.0
patsy==0.5.1
pdfrw==0.4
pdvega==0.2.1.dev0
pefile==2019.4.18
pep8==1.7.1
pexpect==4.7.0+dummy
pg8000==1.13.1
pickleshare==0.7.5
Pillow==6.2.1
Pint==0.9
pkginfo==1.5.0.1
plotnine==0.6.0
pluggy==0.13.1
ply==3.11
portalocker==1.5.2
portpicker==1.3.1
ppci==0.5.6
prettytable==0.7.2
priority==1.3.0
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.0
psutil==5.6.7
ptpython==2.0.6
PuLP==1.6.11
py==1.8.0
PyAudio==0.2.11
pybars3==0.9.7
pybind11==2.4.3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pyct==0.4.6
pyepsg==0.4.0
pyflakes==2.1.1
pyflux==0.4.17
pygame==1.9.6
pygbm==0.1.0
Pygments==2.5.2
pyhdf==0.10.2
PyInstaller==3.5
pylint==2.4.4
pymc==2.3.7
PyMeta3==0.5.1
pymongo==3.10.0
PyNaCl==1.3.0
pyodbc==4.0.27
PyOpenGL==3.1.4
pypandoc==1.3.2
pyparsing==2.4.5
pyproj==2.4.2.post1
PyQt5==5.14.0
PyQt5-sip==12.7.0
pyqtgraph==0.11.0.dev0
PyQtWebEngine==5.14.0
pyrsistent==0.15.6
pyserial==3.4
pystache==0.5.4
pytest==5.3.2
python-dateutil==2.8.1
python-hdf4==0.10.0+dummy
python-jsonrpc-server==0.3.2
python-language-server==0.31.2
python-Levenshtein==0.12.0
python-snappy==0.5.4
pythonnet==2.4.1.dev0
PythonQwt==0.5.6.dev0
pythreejs==2.1.1
pytz==2019.3
pyviz-comms==0.7.2
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pywinusb==0.4.2
PyYAML==5.2
pyzmq==18.1.1
pyzo==4.9.0
QtAwesome==0.6.0
qtconsole==4.6.0
QtPy==1.9.0
quantecon==0.4.6
Quart==0.10.0
rasterio==1.1.2
readme-renderer==24.0
redis==3.3.11
regex==2019.12.20
reportlab==3.5.32
requests==2.22.0
requests-toolbelt==0.9.1
rise==5.6.0
rope==0.14.0
Rtree==0.9.3
ruamel.yaml==0.16.5
Rx==3.0.1
scikit-fuzzy==0.4.1
scikit-image==0.16.2
scikit-learn==0.22
scikit-optimize==0.5.2
scilab2py==0.6.2
scipy==1.4.1
scs==2.1.1.post2
seaborn==0.9.1.dev0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.17.0
simpy==3.0.11
six==1.13.0
snakeviz==2.0.1
snowballstemmer==2.0.0
snuggs==1.4.7
sortedcontainers==2.1.0
sounddevice==0.3.14
soupsieve==1.9.5
Sphinx==2.3.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.12
sqlite-bro==0.9.1
sqlparse==0.3.0
statsmodels==0.10.2
streamz==0.5.0
supersmoother==0.4
swifter==0.297
sympy==1.5
tables==3.6.1
tblib==1.6.0
tenacity==6.0.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textwrap3==0.9.2
thrift==0.13.0
toml==0.10.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.41.0
traitlets==4.3.3
traittypes==0.2.1
twine==3.1.1
twitter==1.17.1
typed-ast==1.4.0
typing-extensions==3.7.4.1
tzlocal==1.5.1
uncertainties==3.1.2
urllib3==1.25.7
uvicorn==0.10.8
vega==2.6.0
vega-datasets==0.8.0
virtualenv==16.7.9
ViTables==3.0.0
voila==0.1.20
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
winpython==2.2.20191222
wordcloud==1.6.0
wrapt==1.11.2
wsproto==0.15.0
xarray==0.14.1
xlrd==1.2.0
XlsxWriter==1.2.6
xlwings==0.16.4
zarr==2.3.2
zict==1.0.0
